* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#main {
    width: 1440px;
    height: 920px;
    justify-content: space-between;
    display: flex;
}

#logo {
    display: flex;
    width: 150px;
    height: 100%;
    flex-direction: column;
    justify-content: space-between;
}

#logo_top {
    width: 80px;
    display: flex;
    align-items: center;
    flex-direction: column;
}
#logo_bot{
    width: 80px;
    height: 475px;
    display: flex;
    align-items: center;
    flex-direction: column;
}
#center {
    display: flex;
    flex-direction: column;
    width: 900px;
}
#header{
    display: flex;
    height: 90px;
}
#center #header h2{
    font-family: Arial, Helvetica, sans-serif;
    width: 150px;
    margin-left: 30px;
    margin-top: 40px;
}
#center #header button{
    width: 90px;
    height: 40px;
    color: red;
    border: 2px;
    border-style: solid;
    border-radius: 20px;
    margin-top: 30px;
    margin-right: 30px;
    margin-left: 590px;
    background-color: white;
}
#center #contect_1{
    height: 55px;
    display: flex;
    font-family: Arial, Helvetica, sans-serif;
}
#center #contect_1 button {
    width: 80px;
    height: 30px;
    background-color: #E34D73;
    color: #fff;
    border: 2px;
    border-style: solid;
    border-radius: 15px;
    margin-left: 30px;
    line-height: 15px;
    
}
#center #contect_1 button img{
    width: 12px;
    height: 12px;
    border-style: solid;
    border-radius: 15px;
    background-color: #fff;
}
#center #contect_1 .img_1 img{
    margin-top: 5px;
    margin-left: 15px;
}
#center #contect_1 .time_1{
    margin-top: 5px;
    margin-left: 15px;
    font-size: 14px;
    margin-right: 10px;
}
#center #contect_1 .time_2{
    margin-top: 5px;
    margin-left: 15px;
    font-size: 14px;
    margin-right: 10px;
}
#center #img_center{
    display: flex;
}
#center #img_center #img_big{
    position: relative;
    display: flex;
    width: 830px;
    height: 450px;
    margin-left: 30px;
    margin-top: 5px;
    border-radius: 0px 0px 5px 5px;
}
#center #img_center #img_big img{
    width: 830px;
    height: 450px;
    border-radius: 0px 0px 7px 7px;
}
#center #img_center #ten{
    position: absolute;
    justify-content: center;
}
#center #img_center #ten button{
    width: 160px;
    height: 40px;
    background-color: #757678;
    color: #fff;
    margin-top: 20px;
    margin-left: 55px;
    border: 0px;
    border-radius: 5px;
}
#center #img_center #ten img{
    width: 40px; 
    height: 40px;
    position: absolute;
    margin-top: 20px;
    margin-left: 580px;
}
#center #img_small #img_small_left{
    display: flex;
    margin-top: 25px;
    margin-left: 30px;
}
#center #img_small #img_small_left .img_2 img{
    display: flex;
    width: 260px;
    height: 160px;
    position: relative;
    border-radius: 10px;
}
#center #img_small #img_small_left .ten_2{
    position: absolute;
    justify-content: center;
}
#center #img_small #img_small_left .ten_2 button{
    width:110px ;
    height: 25px;
    background-color: #757678;
    color: #fff;
    border-radius: 5px;
    border: 0;
    margin-top: 10px;
    margin-left: 5px;
}

#center #img_small #img_small_left .ten_2 img{
    width: 30px;
    height: 30px;
    position: absolute;
    margin-top: 10px;
    margin-left: 110px;
}

#center #img_small #img_small_centter{
    display: flex;
    margin-top: 25px;
    margin-left: 25px;
}
#center #img_small #img_small_centter .img_3 img{
    display: flex;
    width: 260px;
    height: 160px;
    position: relative;
    border-radius: 10px;
    
}

#center #img_small #img_small_centter .ten_3{
    position: absolute;
    justify-content: center;
}

#center #img_small #img_small_centter .ten_3 button{
    width:100px ;
    height: 25px;
    background-color: #757678;
    color: whitesmoke;
    border-radius: 5px;
    border: 0;
    margin-top: 5px;
    margin-left: 10px;
}

#center #img_small #img_small_centter .ten_3 img{
    width: 30px;
    height: 30px;
    position: absolute;
    margin-top: 5px;
    margin-left: 110px;
}

#center #img_small #img_small_right{
    display: flex;
    margin-top: 25px;
    margin-left: 25px;
}
#center #img_small #img_small_right .img_4 img{
    display: flex;
    width: 260px;
    height: 160px;
    position: relative;
    border-radius: 10px;
    
}

#center #img_small #img_small_right .ten_4{
    position: absolute;
    justify-content: center;
}

#center #img_small #img_small_right .ten_4 button{
    width:100px ;
    height: 25px;
    background-color: #757678;
    color: whitesmoke;
    border-radius: 5px;
    border: 0;
    margin-top: 5px;
    margin-left: 10px;
}

#center #img_small #img_small_right .ten_4 img{
    width: 30px;
    height: 30px;
    position: absolute;
    margin-top: 5px;
    margin-left: 110px;
}

#center #img_small{
    display: flex;
}

#center #icon {
    display: flex;
    margin-top: 27px;
    margin-left: 210px;
 }

#center #icon img {
    margin-right: 15px;
}
#center #icon button{
    width: 125px;
    height: 45px;
    background-color: red;
    color: white;
    border: 0;
    margin-right: 15px;
}
#right {
    display: flex;
    width: 440px;
    flex-direction: column;
    margin-left: 10px;
}
#right #right_head {
    display: flex;
    height: 60px;
    margin-left: 30px;
    margin-top: 40px;
}
#right #right_head .tron {
    display: flex;
    width: 25px;
    height: 25px;
    border: 2px;
    border-style: solid;
    color: #E34D73;
    border-radius: 20px;
    margin-left: 5px;
    text-align: center;
    position: relative;
    display: flex;
}
#right #right_head .chen{
    display: flex;
    position: absolute;
    margin-left: 150px;
    margin-top: 3px;
    color: #E34D73;
}
#right #right_head h2{
    display: flex;
    font-family: Arial, Helvetica, sans-serif;
}
#right #right_head .add{
    display: flex;
    width: 75px;
    height: 35px;
    border: #E34D73 solid 2px;
    background-color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 150px;
    border-radius: 5px;
    color: #E34D73;
    position: relative;
}

#right #right_head .chen1{
    display: flex;
    color: #E34D73;
    position: absolute;
    margin-left: 330px;
    margin-top: 10px;
}
#right #right_top {
    display: flex;
    height: 200px;
    margin-left: 30px;
    
}
#right #right_top #right_top_left{
    display: flex;
    width: 45px;
    flex-direction: column;
}

#right #right_top #right_top_left img{
    display: flex;
    width: 40px;
    height: 40px;
    margin-bottom: 15px;
}
#right #right_top #right_top_center{
    flex-direction: column;
    display: flex;
    font-family: Arial, Helvetica, sans-serif;
    
}
#right #right_top #right_top_center .one{
    display: flex;
    margin-top: 15px;
}
#right #right_top #right_top_center div{
    display: flex;
    margin-bottom: 35px;
}
#right #right_top #right_top_right{
    display: flex;
}

#right #right_top #right_top_right1{
    flex-direction: column;
    margin-left: 130px;
    width: 15px;
}
#right #right_top #right_top_right1 img{
    display: flex;
    width: 15px;
    height: 20px;
    margin-bottom: 33px;
}
#right #right_top #right_top_right1 .one{
    display: flex;
    margin-top: 15px;
}

#right #right_top_right #right_top_right2{
    display: flex;
    flex-direction: column;
    width: 15px;
    height: 20px;
    margin-left: 15px;
}
#right #right_top #right_top_right2 .one{
    display: flex;
    margin-top: 15px;
}
#right #right_top #right_top_right2 img{
    display: flex;
    width: 20px;
    height: 20px;
    margin-bottom: 33px;
}
#right #right_top_right #right_top_right3{
    display: flex;
    flex-direction: column;
    width: 15px;
    height: 20px;
    margin-left: 15px;
}
#right #right_top #right_top_right3 .one{
    display: flex;
    margin-top: 15px;
}
#right #right_top #right_top_right3 img{
    display: flex;
    width: 20px;
    height: 20px;
    margin-bottom: 33px;
}